STREAMLIT_SERVER_ADDRESS=0.0.0.0
STREAMLIT_SERVER_PORT=8501 #default
DOCQ_DATA=./.persisted/
DOCQ_OPENAI_API_KEY # ideally set value on shell, don't insert a value here because it's a secret.
DOCQ_COOKIE_HMAC_SECRET_KEY=cookie_password

# SMTP Server Settings
SMTP_SERVER=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_LOGIN=SMTP-LOGIN
SMTP_KEY=SMTP-LOGIN-KEY

# SERVER SETTINGS
SERVER_ADDRESS=http://localhost:8501
