STREAMLIT_SERVER_ADDRESS=0.0.0.0
STREAMLIT_SERVER_PORT=8501 #default
DOCQ_DATA=./.persisted/
OPENAI_API_KEY # ideally set value on shell, don't insert a value here becuase it's a secret.
COOKIE_SECRET_KEY=cookie_password