STREAMLIT_SERVER_ADDRESS=0.0.0.0
STREAMLIT_SERVER_PORT=8501 #default
DOCQ_DATA=./.persisted/
DOCQ_OPENAI_API_KEY # ideally set value on shell, don't insert a value here because it's a secret.
DOCQ_COOKIE_HMAC_SECRET_KEY=cookie_password

# SMTP Server Settings
DOCQ_SMTP_SERVER="smtp-relay.brevo.com" # SMTP server address
DOCQ_SMTP_PORT=587 # SMTP port tls
DOCQ_SMTP_LOGIN="SMTP-LOGIN" # The username for logging in to the SMTP service
DOCQ_SMTP_KEY="SMTP-MASTER-PASSWORD" # The password for logging in to the SMTP service
DOCQ_SMTP_FROM="Docq.AI Support <no-reply@docqai.com>" # A custom sender email

# SERVER SETTINGS
DOCQ_SERVER_ADDRESS = "http://localhost:8501" # Web address for the docq server, used for generating verification urls.

OTEL_SERVICE_NAME = "docq-" #for local dev "docq-dev-<yourname>". Prod "docq-prod"
HONEYCOMB_API_KEY = # or other Otel tracing backend. 