# Copy and place the following file to the root of the project as pytest.env
# To setup enviroment variables for integration testing
DOCQ_DATA=./.persisted-test-integration/
DOCQ_OPENAI_API_KEY=YOUR_OPEN_AI_KEY
DOCQ_COOKIE_HMAC_SECRET_KEY=32_char_secret_used_to_encrypt
DOCQ_TEST_AI_MODEL_COLLECTION_NAME=openai_latest
