DOCQ_DATA = "./.persisted/"
DOCQ_OPENAI_API_KEY = "YOUR-OPENAI-API-KEY"
DOCQ_COOKIE_HMAC_SECRET_KEY = "32_char_secret_used_to_encrypt"

# SMTP Server Settings
DOCQ_SMTP_SERVER = "smtp-relay.brevo.com" # SMTP server address
DOCQ_SMTP_PORT = 587 # SMTP port tls
DOCQ_SMTP_LOGIN = "SMTP-LOGIN" # The username for logging in to the SMTP service
DOCQ_SMTP_KEY = "SMTP-MASTER-PASSWORD" # The password for logging in to the SMTP service
DOCQ_SMTP_FROM = "Docq.AI Support <no-reply@docqai.com>" # A custom sender email

# SERVER SETTINGS
DOCQ_SERVER_ADDRESS = "http://localhost:8501" # Web address for the docq server, used for generating verification urls.
