DOCQ_DATA = "./.persisted/"
DOCQ_COOKIE_HMAC_SECRET_KEY = "32_char_secret_used_to_encrypt"

# LLM Services 
DOCQ_OPENAI_API_KEY = "YOUR-OPENAI-API-KEY"

DOCQ_GOOGLE_APPLICATION_CREDENTIALS_JSON = "for VertexAI but can be used for any other GCP service."

DOCQ_AZURE_OPENAI_API_KEY1
DOCQ_AZURE_OPENAI_API_KEY2
DOCQ_AZURE_OPENAI_API_BASE = "from your deployment"
DOCQ_AZURE_OPENAI_API_VERSION = "based version set in your deployment"

# for HUGGINGFACE_OPTIMUM_BAAI
TOKENIZERS_PARALLELISM = "True" 


# SMTP Server Settings
DOCQ_SMTP_SERVER = "smtp-relay.brevo.com" # SMTP server address
DOCQ_SMTP_PORT = 587 # SMTP port tls
DOCQ_SMTP_LOGIN = "SMTP-LOGIN" # The username for logging in to the SMTP service
DOCQ_SMTP_KEY = "SMTP-MASTER-PASSWORD" # The password for logging in to the SMTP service
DOCQ_SMTP_FROM = "Docq.AI Support <no-reply@docqai.com>" # A custom sender email

# GOOGLE_DRIVE_API
DOCQ_GOOGLE_APPLICATION_CREDENTIALS = "credentials.json" # Credentials containing Docq project configs
DOCQ_GOOGLE_AUTH_REDIRECT_URL = "http://localhost:8501/Admin_Spaces/" # The URL configured for redirect in google console.

# MICROSOFT_GRAPH_API
DOCQ_MS_ONEDRIVE_CLIENT_ID = # Microsoft graph api client id.
DOCQ_MS_ONEDRIVE_CLIENT_SECRET = # Microsoft graph api client secret.
DOCQ_MS_ONEDRIVE_REDIRECT_URL = "http://localhost:8501/Admin_Spaces/"


# SERVER SETTINGS
DOCQ_SERVER_ADDRESS = "http://localhost:8501" # Web address for the docq server, used for generating verification urls.
OTEL_SERVICE_NAME = "docq-" #for local dev "docq-dev-<yourname>". Prod "docq-prod"
HONEYCOMB_API_KEY = # or other Otel tracing backend. 

DOCQ_POSTHOG_PROJECT_API_KEY = Posthog project api key