DOCQ_DATA = "./.persisted/"
DOCQ_OPENAI_API_KEY = "YOUR-OPENAI-API-KEY"
DOCQ_COOKIE_HMAC_SECRET_KEY = "32_char_secret_used_to_encrypt"

# SMTP Server Settings
SMTP_SERVER = "smtp-relay.brevo.com" # SMTP server address
SMTP_PORT = 587 # SMTP port tls
SMTP_LOGIN = "SMTP-LOGIN" # The username for logging in to the SMTP service
SMTP_KEY = "SMTP-MASTER-PASSWORD" # The password for logging in to the SMTP service

# SERVER SETTINGS
SERVER_ADDRESS = "http://localhost:8501" # Web address for the docq server, used for generating verification urls.
